table{
    width: 100%;
}

td{
    text-align: center;
    background-color: #d6d6d6;
    font-weight: bold;
}

.table-header{
    text-align: center;
    cursor: pointer;
}

.table-symbol{
    text-align: right;
}

.table-company{
    text-align: left;
    font-size: 1.5em;
    font-weight: normal;
}

.positiveValue{
    background-color: #2f8d61;
    color: #ffffff;
}

.negitiveValue{
    background-color: #d64e4e;
    color: #ffffff;
}

.zeroValue{
    color: #000000;
}

.sortedDesc{
    background-image: linear-gradient(to bottom, #d6d6d6, #d6d6d6, #d6d6d6, #8b99b0);
}

.sortedAsc{
    background-image: linear-gradient(to bottom, #8b99b0, #d6d6d6, #d6d6d6, #d6d6d6);
}